<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>{{ page.title }}</title>
    <link href="css/stylesheet.css" type="text/css" rel="stylesheet" />
    <link href="css/syntax.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19398875-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <a href="http://github.com/bmuller/twistar"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
    <div id="header">
      <div>twistar</div>
      <div id="subheader">Python Twisted ORM</div>
      <div id="menu">
	<ul>
	  <li><a href="index.html">home</a></li>
	  <li><a href="releases.html">releases</a></li>
	  <li><a href="doc">docs</a></li>
	  <li><a href="apidoc">API</a></li>
	  <li><a href="http://github.com/bmuller/twistar/issues">issues</a></li>
	</ul>
      </div>
    </div>
    <div id="content">
      {{ content}}
    </div>
    <div id="footer"></div>
  </body>
</html>
